<mat-card class="container">
  <mat-card-title class="page-header">
    <h1>YouTube Search
      <img src="assets/images/loading.gif" alt="Loading..." *ngIf="loading">
    </h1>
  </mat-card-title>

  <app-search-box
    (loading)="loading = $event"
    (results)="updateResults($event)">
  </app-search-box>

  <mat-card-content class="search-block-wrp">
    <app-search-result
      *ngFor="let result of results"
      [result]="result">
    </app-search-result>
  </mat-card-content>
</mat-card>
